
obj
bin
*.csproj.user
*ReSharper*
*resharper*
*.suo
*.cache
Thumbs.db

*Debug
*Debug/*
*debug
*debug/*
*Release
*Release/*
*release
*release/*

*.bak
*.cache
*.log
*.swp
*.userbuild.msbuild
build.msbuild
